<style>
.ace_editor {
  height: 400px;
  border: 1px solid #DDD;
	border-radius: 4px;
	border-bottom-right-radius: 0px;
 }
</style>

<div class="container">
  <h2> Code Exec Home Page </h2>
  <div class="row">
			<div class="col-md-2">
				<select class="form-control" ng-options="lang as lang.label for lang in langs"
          ng-model="selectedLang" ng-change="modeChanged()" >
						</select>
			</div>
      <div class="col-md-2">
				<button type="button" class="btn btn-success" ng-click="run()"><i class="fa fa-code"></i> Run</button>
			</div>
	</div>
  <div class="row">
    <div class="col-md-12">
      <h4>Source Code</h4>
      <div ui-ace="aceOption" ng-model="code.source"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Input</h4>
      <textarea rows="5" style="width:100%;border: 1px solid #bbb;" ng-model="code.input"> </textarea>
    </div>
  </div>

</div>
